
<div class="col-md-6 offset-md-3">
    <!-- form card change password -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Change Password</h3>
        </div>
        <div class="card-body">
            <!-- <form class="form" role="form" autocomplete="off"> -->
            <form [formGroup]="ChangePasswordForm" (ngSubmit)=" onSave()"   novalidate class="form-group" >

                <div class="form-group">
                    <label for="">Current Password</label>
                    <input type="password" class="form-control" name="password" id="password" formControlName="password" placeholder="Password">
                    <span class="text-danger" role="alert"
                      *ngIf="(ChangePasswordFormControl['password'].touched || submitted) && ChangePasswordFormControl['password'].errors?.['required']">
                        Passwords is invalid
                    </span>
                    <span class="text-danger" role="alert"
                    *ngIf="ChangePasswordFormControl['password'].touched && ChangePasswordFormControl['password'].errors?.['invalidPassword']">
                    Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                    letter and 1 number
                  </span>

                </div>
                <div class="form-group">
                    <label for="">New Password</label>
                    <input type="password" class="form-control" name="newPassword" id="newPassword" formControlName="newPassword" placeholder=" new Password">
                    <span class="text-danger" role="alert"
                      *ngIf="(ChangePasswordFormControl['newPassword'].touched || submitted) && ChangePasswordFormControl['newPassword'].errors?.['required']">

                        Confirm Password is required
                    </span>
                </div>
                <div class="form-group">
                    <label for="">Repeat New Password</label>
                    <input type="password" class="form-control" name="repeatnewPassword" id="repeatnewPassword" formControlName="repeatnewPassword" placeholder="Repeat new Password">
                    <span class="text-danger" role="alert"
                      *ngIf="(ChangePasswordFormControl['repeatnewPassword'].touched || submitted) && ChangePasswordFormControl['repeatnewPassword'].errors?.['required']">

                        Passwords doesnot match
                    </span>
                    <span class="text-danger" role="alert"
                    *ngIf="ChangePasswordFormControl['repeatnewPassword'].touched && ChangePasswordFormControl['repeatnewPassword'].errors?.['passwordMismatch']">
                    Passwords doesnot match
                </span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /form card change password -->
</div>
