<!-- Categories Start -->
<!-- <div
    class="conversation"
    *ngFor="let cat of categories"
>
    <div class="content">
        <div class="conversationHeader">
            <div class="name">{{ cat.name|json  }}</div>
        </div>
    </div>
</div> -->
   <!-- Categories Start -->
<div class="container-fluid pt-5">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="pr-3">Categories</span></h2>
  <div class="row px-xl-5 pb-3">
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1"  *ngFor="let cat of categories | slice:0:8;" >
          <a routerLink="//category//{{cat.id}}" class="text-decoration-none">
              <div class="cat-item d-flex align-items-center mb-4">
                  <div class="overflow-hidden" style="width: 60%; height: 110px;">

                      <img
                      class="img-fluid"
                      src="{{cat.image}}"
                      alt=""

                  />
                  </div>
                  <div class="flex-fill pl-3">
                      <h6 class="fw-bold">{{ cat.name }}</h6>
                      <!-- <small class="text-body">{{ cat.id }}</small> -->
                  </div>
              </div>
          </a>
      </div>
  </div>
</div>
<!-- Categories End -->
