<!-- Categories Start -->

   <!-- Categories Start -->
   <div class="container pt-5">
    <h2 class="section-title position-relative text-uppercase mb-4"><span class="pr-3"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
      <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
    </svg> {{categoryObject.category.name}}</span></h2>
    <img style="width: 80%; height:300px; margin-left: 15%;" src="{{categoryObject.category.image}}" alt=""  />
  </div>
  <!-- Categories End -->

<!-- Products Start -->
<div class="container pt-5 pb-3">

  <h2 class="section-title position-relative text-uppercase mb-4"><span class="pr-3"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-video2" viewBox="0 0 16 16">
    <path d="M10 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
    <path d="M2 1a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2ZM1 3a1 1 0 0 1 1-1h2v2H1V3Zm4 10V2h9a1 1 0 0 1 1 1v9c0 .285-.12.543-.31.725C14.15 11.494 12.822 10 10 10c-3.037 0-4.345 1.73-4.798 3H5Zm-4-2h3v2H2a1 1 0 0 1-1-1v-1Zm3-1H1V8h3v2Zm0-3H1V5h3v2Z"/>
  </svg> providers</span></h2>
  <div class="row px-xl-5">
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1"  *ngFor="let prov of providers">
          <div class="product-item bg-light mb-4">
              <div class="product-img position-relative overflow-hidden">
                  <img
                  class="img-fluid"
                  src="{{prov.users?.image}}"
                  alt=""
                  style="object-fit: cover;"
                  />
                  <div class="product-action">
                      <a data-toggle="tooltip" data-placement="top" title="Details" class="btn btn-warning text-white w-25" routerLink="/provider-details/{{prov.users.id}}"><i class="fa fa-address-card"></i></a>
                      <a data-toggle="tooltip" data-placement="top" title="chat" class="btn btn-warning text-white w-25" routerLink="/chat"><i class="fa fa-comments"></i></a>
                  </div>
              </div>
              <div class="text-center py-4">
                <div>
                    <ngb-rating class="fs-3 text-warning" [rate]="prov.rate" [readonly] = true [max]="5"></ngb-rating>
                </div>
                <p class="h6 text-decoration-none text-capitalize fw-bold" href="">{{prov.users?.name}}</p>
                <a class="h6 text-decoration-none" href="tel:{{prov.users?.mobile}}"><i class="fa fa-phone-volume"></i> {{prov.users?.mobile}}</a>
                <!-- <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                </div>-->
                <div class="d-flex align-items-center justify-content-center mb-1">
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Products End -->
