
	<!-- Main Content -->
	<!-- <div class="container-fluid">
		<div class="row main-content bg-success text-center">
      <div class="col-md-4 text-center company__info">
				<span class="company__logo"><img src="assets/img/1.png" alt=""></span>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Log In</h2>
					</div>
					<div class="row">
						 <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate  class="form-group">
							<div class="row">
                <label> Email address </label>
								<input type="email" name="email" id="email" formControlName="email"  class="form__input" placeholder="Enter email">
							</div>
							<div class="row">
                <label>Password</label>
								<input type="password" name="password" id="password" formControlName="password" class="form__input" placeholder="Password">
							</div>
							<div class="row">
								<input type="checkbox" name="remember_me" id="remember_me" class="">
								<label class="mar" for="remember_me">Remember Me!</label>
							</div>
							<div class="row">
								<input  class="btn submit"  type="submit" value="Submit">
							</div>
						</form>
					</div>
					<div class="row">
            <div class="cer">
              <p>Don't have an account? <a  routerLink="/register">Register Here</a></p>
            </div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
  <div class="container pt-5"  >

    <div class="row m-auto mt-2 shadow p-sm-5">
    <div class="col-12 col-sm-4 m-auto" ><img class="w-100 mt-5" src="assets/img/1.png" alt=""></div>
    <div class="col-12 col-sm-8  rounded-pill" style="background-color:#008080;">
      <div class="row">
        <div class="col-1 col-sm-2"></div>
        <div class="col-10 col-sm-8 py-5">

            <h2 class="text-center my-2 " style="color: white;"> Log In </h2>
            <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate  class="form-group ">

              <label class="form-label mt-3">Email address : </label>
              <input type="email" class=" form-control"  formControlName="email" id="email" placeholder="Enter email" >
              <span class="text-danger"
              *ngIf="(loginFormControl['email'].touched || submitted) && loginFormControl['email'].errors?.['required']">
              Email is required
          </span>
          <span class="text-danger"
              *ngIf="loginFormControl['email'].touched && loginFormControl['email'].errors?.['email']">
              Enter a valid email address
          </span>



              <label class="form-label mt-3">Password : </label>
              <input type="password" name="password" id="password" class=" form-control" formControlName="password" placeholder="Password">
              <span class="text-danger"
              *ngIf="(loginFormControl['password.touched'] || submitted) && loginFormControl['password.touched'].errors?.['required']">
              Password is required
          </span>
          <span class="text-danger"
              *ngIf="loginFormControl['password.touched'].touched && loginFormControl['password.touched'].errors?.['invalidPassword']">
              Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
              letter and 1 number
          </span>


              <label class="form-label mt-3" for="remember_me">Remember Me!</label>
              <input type="checkbox" name="remember_me" id="remember_me">


              <input  type="submit" value="Submit" class="btn  mt-5 float-end" style="background-color: #fff ;">

            </form>


              <p>Don't have an account? <a class="text-white" routerLink="/register">Register Here</a></p>
            </div>
          </div>
        </div>
        <div class="col-1 col-sm-2"></div>
      </div>

    </div>



