<div class="container "   >

  <div class="row m-auto mt-2 shadow p-sm-5" style="border-radius: 20px;">
  <div class="col-12 col-sm-4 m-auto"  ><img class="w-100 mt-5" src="assets/img/1.png" alt=""></div>
  <div class="col-12 col-sm-8 rounded-3 fs-5" style="background: linear-gradient(to bottom right, #BCC5CE, #06857A);">
    <div class="row">
      <div class="col-1 col-sm-2"></div>
      <div class="col-10 col-sm-8">
        <div class="">
          <h2 class="text-center my-5 " style="color: white;">Register</h2>
          <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate class="form-group" >

            <div class="form-group">
              <label class="form-label mt-3 ">Name <span class="text-danger">*</span>   </label>
              <input type="text" name="name" id="name" class=" form-control" formControlName="name" placeholder="Enter Name">
              <span class="text-danger" role="alert"
                  *ngIf="(registerFormControl['name'].touched || registerFormControl['name'].invalid && submitted) && registerFormControl['name'].errors?.['required']">
                  Name is required
              </span>
            </div>

            <div class="form-group">
              <label class="form-label mt-3">Email address : </label>
              <input type="email" class=" form-control"  formControlName="email" id="email" placeholder="Enter email" >
              <span class="text-danger" role="alert"
                  *ngIf="(registerFormControl['email'].touched || submitted) && registerFormControl['email'].errors?.['required']">
                  Email is required
              </span>
              <span class="text-danger" role="alert"
                  *ngIf="registerFormControl['email'].touched && registerFormControl['email'].errors?.['email']">
                  Enter a valid email address
              </span>
            </div>


            <div class="form-group">
              <label class="form-label mt-3">Password : </label>
              <input type="password" name="password" id="password" class=" form-control" formControlName="password" placeholder="Password">
              <span class="text-danger" role="alert"
                  *ngIf="(registerFormControl['password'].touched || submitted) && registerFormControl['password'].errors?.['required']">
                  Password is required
              </span>
              <span class="text-danger" role="alert"
                  *ngIf="registerFormControl['password'].touched && registerFormControl['password.touched'].errors?.['invalidPassword']">
                  Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                  letter and 1 number
              </span>
            </div>

            <div class="form-group">
              <label class="form-label mt-3">Repeat Password : </label>
              <input type="password" name="confirmedPassword" id="confirmedPassword" class=" form-control" formControlName="confirmedPassword" placeholder="Password">
              <span class="text-danger" role="alert"
                  *ngIf="(registerFormControl['confirmedPassword'].touched || submitted) && registerFormControl['confirmedPassword'].errors?.['required']">
                  Confirm Password is required
              </span>
              <span class="text-danger" role="alert"
                  *ngIf="registerFormControl['confirmedPassword'].touched && registerFormControl['confirmedPassword'].errors?.['passwordMismatch']">
                  Passwords doesnot match
              </span>
            </div>

            <div class="form-group">
              <label class="form-label mt-3" for="phone">Enter your phone number:</label>
              <input type="tel" id="phone" formControlName="phone"  class=" form-control" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="Phone">
              <span class="text-danger" role="alert"
                  *ngIf="(registerFormControl['phone'].touched || submitted) && registerFormControl['phone'].errors?.['required']">
                  Phone is required
              </span>
            </div>

            <div class="form-group">
              <label class="form-label mt-3">Enter Your Image</label>
              <input type="file"  formControlName="image" id="image" name="image" class=" form-control"  placeholder="your Image">
              <span class="text-danger" role="alert"
                  *ngIf="(registerFormControl['image'].touched || submitted) && registerFormControl['image'].errors?.['required']">
                  Image is required
              </span>
            </div>


          <label class="form-label mt-3">Your address : </label>
          <div class="my-3">
            <google-map
            height="200"
            width="100%"
            [center]="center"
            [zoom]="zoom"
            (mapMousemove)="move($event)"
            >
            <map-marker
            [position]="markerPosition"
            [options]="markerOptions"
            >
            </map-marker>

            </google-map>
          </div>
            <!-- <div class="my-3">
              <google-map
              height="200"
              width="100%"
              [center]="center"
              [zoom]="zoom"
              (mapMousemove)="move($event)"
              >
              <map-marker
              [position]="markerPosition"
              [options]="markerOptions"
              >
              </map-marker>
              </google-map>
            </div> -->



            <input  type="submit" value="Submit" class="btn  mt-5 float-end" style="background-color: #fff ;">

          </form>

            <p>Do you have an account? <a routerLink="/login" class="text-white">Login</a></p>
          </div>
        </div>
      </div>
      <div class="col-1 col-sm-2"></div>
    </div>

  </div>
  </div>
