
<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    <div class="carousel-item active">
                        <img class="w-100 h-100" src="{{providerObject.users?.image}}" alt="Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>{{ providerObject.users['name'] }}</h3>
                <div class="d-flex mb-3">
                    <ngb-rating class="fs-5 text-warning" [rate]="providerObject.rate" [readonly] = true [max]="5"></ngb-rating>
                    <small class="pt-1">({{reviews.length}} Reviews)</small>
                </div>
                <h5 class="font-weight-semi-bold mb-4">Price In Hour : <span class="text-success">${{ providerObject.price }}</span></h5>
                <h3>Description</h3>
                <p class="mb-4">{{ providerObject.description }}</p>


                <div class="row py-5">
                    <h4 class="text-capitalize fw-bold">To Order Provider :</h4>
                    <form [formGroup]="orderForm" (ngSubmit)="createBooking()" novalidate class="form-group" >
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">The number of hours</label>
                                    <input min="1" oninput="this.value = Math.abs(this.value)" type="number" formControlName="hours" class="form-control  border-0 text-center" min="1" value="1">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label"> About the work required </label>
                                    <textarea class="form-control w-100" id="description" name="description" formControlName="description" placeholder="Details"></textarea>
                                    <span class="text-danger" role="alert"
                                        *ngIf="(orderFormControl['description'].touched || orderFormControl['description'].invalid && submitted) && orderFormControl['description'].errors?.['required']">
                                      your description is required
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label class="form-label mt-2"> Your address : </label>
                            <div class="my-3">
                                <google-map
                                height="300"
                                width="100%"
                                [center]="center"
                                [zoom]="zoom"
                                >
                                <map-marker
                                (mapDragend)="dragged($event)"
                                [position]="markerPosition"
                                [options]="markerOptions"
                                >
                                </map-marker>

                                </google-map>
                            </div>
                            </div>
                    </form>
                    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
                        <div class="d-flex justify-content-between">
                            <button (click)="createBooking()" class="btn bg-primary text-white mt-3 w-25 me-5"><i class="fa fa-address-card text-white  mr-1"></i>Book</button>
                            <div class="mt-2">
                                <ng-container class=" pt-5" *ngIf=" providerObject.users.is_favorite_count === 0; then first else second"></ng-container>
                                <ng-template #first> <a data-toggle="tooltip" data-placement="top" title="Remove favorite" class="" (click)="createFav()" href="javascript:void(0)"><i class="fas fa-heart text-dark fs-1" title="add favorite "></i></a>
                                 </ng-template>
                                <ng-template #second> <a data-toggle="tooltip" data-placement="top" title="Add to favorite"class="" (click)="createFav()" href="javascript:void(0)" ><i class="fas fa-heart text-danger fs-1" title="remove favorite"></i></a>
                               </ng-template>
                          </div>
                        </div>


                </div>



                  <!-- <ng-container class=" pt-5" *ngIf=" providerObject.users.favourite_count === 0; then first else second"></ng-container>
                  <ng-template #first> <a data-toggle="tooltip" data-placement="top" title="Add to favorite" class="" (click)="createFav()" href="javascript:void(0)"><i class="fa-regular fa-heart text-dark fs-5"></i></a>
                   </ng-template>
                  <ng-template #second> <a data-toggle="tooltip" data-placement="top" title="Add to favorite"class="" (click)="createFav()" href="javascript:void(0)" ><i class="fas fa-heart text-danger fs-5"></i></a>
                 </ng-template> -->



            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="mb-4">
                    <h3 class="text-dark">Reviews ({{reviews.length}})</h3>

                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="mb-4">{{reviews.length}} review for "{{ providerObject.users['name'] }}"</h4>
                            <div class="media mb-4" *ngFor="let review of reviews">
                                <img src="{{review['user']['image']}}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                <div class="media-body">
                                    <h6 class="fw-bold text-capitalize">{{review['user']['name']}}<small> - <i>{{review['created_at'] | date :'medium'}}</i></small></h6>
                                    <ngb-rating class="fs-2 text-warning" [rate]="review['rate']" [readonly] = true [max]="5"></ngb-rating>
                                    <p>{{review['description']}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="mb-4">Leave a review</h4>
                            <small>Your email address will not be published. Required fields are marked *</small>
                            <div class="d-flex my-3">
                                <ngb-rating class="fs-2 text-warning" [(rate)]="currentRate" [max]="5"></ngb-rating>
                                <hr>
                                <pre class="fs-4 mx-3 mt-2">Rate: <b>{{currentRate}}</b></pre>
                            </div>
                          <form  [formGroup]="rateForm" (ngSubmit)="setRate()" novalidate  class="form-group">
                                <div class="form-group">
                                    <label for="message">Your Review *</label>
                                    <textarea formControlName="description" id="message" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="form-group mb-0">
                                    <input type="submit" value="Leave Your Review" class="btn bg-primary text-white px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->


