<!-- *ngFor="let feaOrders of feaOrders" -->
<div class="m-5 mb-3" style="height:80vh ;" >
  <div class="row "style="height:100%;">
    <div class="col-md-6 " >
     <div class=""></div>
     <google-map
     height="100%"
     width="100%"
     [center]="center"
     [zoom]="zoom"
   >
     <map-marker
       [position]="markerPosition"
       [options]="markerOptions"
     >
     </map-marker>

   </google-map>
    </div>
    <div class="col-md-6">
<div class="bg-light" >
  <!-- {{ showOrder|json }} -->
<div class=" position-relative p-5 mb-3" style="background-color: #DDD;">
  <h2  class=" text-secondary"> User Name : <span class="text-success">{{ showOrder.name }}</span></h2>
</div>

<div  class="  p-4 mb-3" style="background-color: #EEE;">
  <h4  class="text-secondary">Required hours : <span class="text-primary"> {{ showOrder.hours }}</span></h4>
</div>
<div  class="  p-4 mb-3" style="background-color: #EEE;">
  <h4  class="text-secondary">total amount : <span class="text-primary">{{ showOrder.total_amount }}</span></h4>
</div>
<div  class="  p-4 mb-3" style="background-color: #EEE;">
  <h4  class="text-secondary">description : <span class="text-primary"> {{ showOrder.description }}</span></h4>
</div>
<div  class="  p-4 mb-3" style="background-color: #EEE;">
  <h4  class="text-secondary">Date : <span class="text-primary"> {{ showOrder.created_at | date :'medium' }}</span></h4>
</div>
<div  class=" position-relative p-5 mb-3" style="background-color: #DDD;">
  <h2  class="text-secondary position-absolute top-0 start-0">actions :</h2>
  <div class="position-absolute bottom-0 start-50 translate-middle-x p-3">
    <button class=" btn btn-success  me-1 p-3">Accept</button>
    <button class="btn btn-danger  p-3 ms-5">Refuse</button>
  </div>

</div>





</div>






    </div>
  </div>
</div>
