<div class="m-5 mb-3" style="height:80vh ;">
  <div class="row "style="height:100%;">
    <div class="col-md-6 " >
     <div class=""></div>
     <google-map
     height="100%"
     width="100%"
     [center]="center"
     [zoom]="zoom"
   >
     <map-marker
       [position]="markerPosition"
       [options]="markerOptions"
     >
     </map-marker>

   </google-map>
    </div>
    <div class="col-md-6">

<div>
  <h2> User Name : <span>name</span></h2>
</div>
<div>
  <h2>Required hours : <span>hours</span></h2>
</div>
<div>
  <h2> total amount : <span>total</span></h2>
</div>
<div>
  <h2>description : <span>kjdfgjhdfjg</span></h2>
</div>
<div>
  <h2>Date  : <span>12/25/1959</span></h2>
</div>
<div>
  <h2>actions  </h2>
  <button class="btn btn-success me-1">Accept</button>
  <button class="btn btn-danger">Refuse</button>
</div>




<!--
            <table class="table table-light table-borderless table-hover text-center mb-0">


              <tbody class="align-middle bg-dark">
              <tr >


                      <td class="  ">
                        <div
                            class="text-capitalize fw-bold"
                            >order.name </div
                        > </td>
                        <td class="  ">
                            <div class="bg-info p-2 w-25 m-auto text-white">
                              order.hours
                            </div>
                    </td>
                      <td class="  ">
                        <div class="bg-success p-2 w-25 m-auto text-white">
                           order.total_amount </div>
                    </td>
                    <td class="   overflow-auto"
                    style="max-width: 150px; ">
                      <div class=""  >
                       order.description</div>
                  </td>
                <td class=" ">
                  <div class="">
                     date </div>
              </td>
                    <td class="wishlist__column wishlist__column--product pt-5">
                      <button class="btn btn-success me-1">Accept</button>
                      <button class="btn btn-danger">Refuse</button>
                     </td>

                    </tr>
                      </tbody>
                  </table> -->




    </div>
  </div>
</div>
