<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="pr-3">Providers</span></h2>
  <div class="row px-xl-5">
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1"  *ngFor="let prov of providers">
          <div class="product-item bg-light mb-4">
              <div class="product-img position-relative overflow-hidden">
                  <img
                  class="img-fluid"
                  src="{{prov.image}}"
                  alt=""
                  style="object-fit: cover;"
                  />
                  <div class="product-action">
                      <a data-toggle="tooltip" data-placement="top" title="Details" class="btn btn-warning text-white w-25" routerLink="/provider-details/{{prov.id}}"><i class="fa fa-address-card"></i></a>
                      <a data-toggle="tooltip" data-placement="top" title="chat" class="btn btn-warning text-white w-25" routerLink="/chat"><i class="fa fa-comments"></i></a>
                      <!-- <a data-toggle="tooltip" data-placement="top" title="Add to favorite" class="btn btn-warning text-white w-25" (click)="createFav(prov.id)" href="javascript:void(0)"><i class="far fa-heart"></i></a> -->
                      <ng-container class=" pt-5" *ngIf=" prov.favourite_count === 1; then first else second"></ng-container>
                      <ng-template #first> <a data-toggle="tooltip" data-placement="top" title="Add to favorite" class="btn btn-warning bg-danger text-white w-25" (click)="createFav(prov.id)" href="javascript:void(0)"><i class="far fa-heart"></i></a>
                       </ng-template>
                      <ng-template #second> <a data-toggle="tooltip" data-placement="top" title="Add to favorite" class="btn btn-warning  text-white w-25" (click)="createFav(prov.id)" href="javascript:void(0)"><i class="far fa-heart "></i></a>
                     </ng-template>
                      <!-- <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                      <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a> -->
                  </div>
              </div>
              <div class="text-center py-4">
                <div>
                    <ngb-rating class="fs-3 text-warning" [rate]="prov.providers?.rate" [readonly] = true [max]="5"></ngb-rating>
                </div>
                <p class="h6 text-decoration-none text-capitalize fw-bold" href="">{{prov.name}}</p>
                <p class="h6 text-decoration-none text-capitalize fw-bold">{{prov.providers?.categories.name}}</p>
                <a class="h6 text-decoration-none" href="tel:{{prov.mobile}}"><i class="fa fa-phone-volume"></i> {{prov.mobile}}</a>
                <!-- <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                </div>-->
                <div class="d-flex align-items-center justify-content-center mb-1">
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Products End -->
